/* screen - home-page-1 */

.home-page-1 {
  background-color: var(--blue-charcoal);
  height: 100vh;
  margin: 0px;
  min-height: 9113px;
  min-width: 1440px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.home-page-1 .group-604-HipzPb {
  background-color: transparent;
  height: 29px;
  left: 849px;
  position: absolute;
  top: 3062px;
  width: 71px;
}

.home-page-1 .rectangle-158-1GiSPn {
  background-color: var(--fuchsia-pink);
  border-radius: 18px 5px 10px 5px;
  height: 29px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 10px;
}

.home-page-1 .rectangle-158-UvoRCm {
  background-color: var(--fuchsia-pink);
  border-radius: 18px 5px 10px 5px;
  height: 29px;
  left: 59px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 12px;
}

.home-page-1 .rectangle-172-HipzPb {
  background-color: var(--white);
  height: 887px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3549px;
  width: 1440px;
}

.home-page-1 .rectangle-174-HipzPb {
  background-color: var(--turquoise-blue);
  height: 887px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4436px;
  width: 1440px;
}

.home-page-1 .rectangle-176-HipzPb {
  background-color: var(--black);
  height: 887px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5323px;
  width: 1440px;
}

.home-page-1 .rectangle-173-HipzPb {
  background-color: transparent;
  height: 86px;
  left: 627px;
  mix-blend-mode: normal;
  position: absolute;
  top: 4304px;
  width: 209px;
}

.home-page-1 .rectangle-169-HipzPb {
  background-color: var(--candlelight);
  height: 887px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1774px;
  width: 1440px;
}

.home-page-1 .rectangle-171-HipzPb {
  background-color: var(--candlelight);
  height: 887px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1774px;
  width: 1440px;
}

.home-page-1 .blue-gradient-vector-HipzPb {
  background-color: transparent;
  height: 355px;
  left: 580px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 2052px;
  width: 315px;
}

.home-page-1 .whats-app-image-2022-06-25-at-1206-1-HipzPb {
  background-color: transparent;
  height: 382px;
  left: 969px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2052px;
  width: 315px;
}

.home-page-1 .rectangle-167-HipzPb {
  background-color: var(--white);
  height: 887px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 887px;
  width: 1440px;
}

.home-page-1 .x1-HipzPb {
  background-color: transparent;
  height: 671px;
  left: 628px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 995px;
  width: 830px;
}

.home-page-1 .rectangle-168-HipzPb {
  background-color: transparent;
  height: 355px;
  left: 191px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 2052px;
  width: 312px;
}

.home-page-1 .category-HipzPb {
  background-color: transparent;
  height: 507px;
  left: 4px;
  position: absolute;
  top: 2968px;
  width: 1425px;
}

.home-page-1 .group-599-nnKUjI {
  background-color: transparent;
  height: 507px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1425px;
}

.home-page-1 .category-active-lCbdwz {
  background-color: transparent;
  height: 507px;
  left: 0px;
  position: absolute;
  top: 1px;
  width: 429px;
}

.home-page-1 .rectangle-6-xCN0nJ {
  background-color: var(--white);
  border-radius: 24px;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px #00000001 , 0px 8.148148536682129px 6.518518447875977px #00000002 , 0px 20px 13px #00000003 , 0px 38.51852035522461px 25.481481552124023px #00000003 , 0px 64.81481170654297px 46.85185241699219px #00000004 , 0px 100px 80px #00000005;
  height: 507px;
  left: 65px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 295px;
}

.home-page-1 .plan-ahead-xCN0nJ {
  background-color: transparent;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 180px;
  white-space: nowrap;
  width: auto;
}

.home-page-1 .x-xCN0nJ {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 229px;
  width: 425px;
}

.home-page-1 .category-active-Dy8qs1 {
  background-color: transparent;
  height: 507px;
  left: 333px;
  position: absolute;
  top: 0px;
  width: 429px;
}

.home-page-1 .rectangle-6-RGHHWQ {
  background-color: var(--white);
  border-radius: 24px;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px #00000001 , 0px 8.148148536682129px 6.518518447875977px #00000002 , 0px 20px 13px #00000003 , 0px 38.51852035522461px 25.481481552124023px #00000003 , 0px 64.81481170654297px 46.85185241699219px #00000004 , 0px 100px 80px #00000005;
  height: 507px;
  left: 66px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 295px;
}

.home-page-1 .group-51-RGHHWQ {
  background-color: transparent;
  height: 50px;
  left: 184px;
  position: absolute;
  top: 47px;
  width: 52px;
}

.home-page-1 .rectangle-158-XOp2DN {
  background-color: var(--turquoise-blue);
  border-radius: 18px 5px 10px 5px;
  height: 50px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 1px;
  width: 52px;
}

.home-page-1 .intelligence-RGHHWQ {
  background-color: transparent;
  height: 117px;
  left: 154px;
  mix-blend-mode: normal;
  position: absolute;
  top: 22px;
  width: 128px;
}

.home-page-1 .there-is-always-a-way-RGHHWQ {
  background-color: transparent;
  height: auto;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 180px;
  width: 279px;
}

.home-page-1 .text_label-RGHHWQ {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 229px;
  width: 425px;
}

.home-page-1 .category-active-ZRGBhK {
  background-color: transparent;
  height: 507px;
  left: 675px;
  position: absolute;
  top: 0px;
  width: 429px;
}

.home-page-1 .rectangle-6-q4UQ7l {
  background-color: var(--white);
  border-radius: 24px;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px #00000001 , 0px 8.148148536682129px 6.518518447875977px #00000002 , 0px 20px 13px #00000003 , 0px 38.51852035522461px 25.481481552124023px #00000003 , 0px 64.81481170654297px 46.85185241699219px #00000004 , 0px 100px 80px #00000005;
  height: 507px;
  left: 57px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 295px;
}

.home-page-1 .group-605-q4UQ7l {
  background-color: transparent;
  height: 29px;
  left: 169px;
  position: absolute;
  top: 94px;
  width: 71px;
}

.home-page-1 .rectangle-158-9tbFVf {
  background-color: var(--fuchsia-pink);
  border-radius: 18px 5px 10px 5px;
  height: 29px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 10px;
}

.home-page-1 .rectangle-158-GTp2mO {
  background-color: var(--fuchsia-pink);
  border-radius: 18px 5px 10px 5px;
  height: 29px;
  left: 59px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 12px;
}

.home-page-1 .its-never-too-late-q4UQ7l {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 180px;
  width: 263px;
}

.home-page-1 .text_label-q4UQ7l {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 229px;
  width: 425px;
}

.home-page-1 .category-active-g1psve {
  background-color: transparent;
  height: 507px;
  left: 1000px;
  position: absolute;
  top: 0px;
  width: 429px;
}

.home-page-1 .rectangle-6-CxPq7z {
  background-color: var(--white);
  border-radius: 24px;
  box-shadow: 0px 1.8518518209457397px 3.1481480598449707px #00000001 , 0px 8.148148536682129px 6.518518447875977px #00000002 , 0px 20px 13px #00000003 , 0px 38.51852035522461px 25.481481552124023px #00000003 , 0px 64.81481170654297px 46.85185241699219px #00000004 , 0px 100px 80px #00000005;
  height: 507px;
  left: 66px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 295px;
}

.home-page-1 .degree-sigma-CxPq7z {
  background-color: transparent;
  height: auto;
  left: 113px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 180px;
  width: 200px;
}

.home-page-1 .text_label-CxPq7z {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 229px;
  width: 425px;
}

.home-page-1 .group-603-nnKUjI {
  background-color: transparent;
  height: 40px;
  left: 821px;
  position: absolute;
  top: 450px;
  width: 471px;
}

.home-page-1 .rectangle-174-dmmCs7 {
  background-color: var(--fuchsia-pink);
  border-radius: 50px;
  height: 40px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 136px;
}

.home-page-1 .text_label-dmmCs7 {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: auto;
}

.home-page-1 .group-603-dmmCs7 {
  background-color: transparent;
  height: 40px;
  left: 333px;
  position: absolute;
  top: 0px;
  width: 138px;
}

.home-page-1 .rectangle-174-YaRLux {
  background-color: var(--candlelight);
  border-radius: 50px;
  height: 40px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 136px;
}

.home-page-1 .text_label-YaRLux {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: auto;
}

.home-page-1 .destinations-HipzPb {
  background-color: transparent;
  height: 1121px;
  left: 145px;
  position: absolute;
  top: 1838px;
  width: 1217px;
}

.home-page-1 .decore-2JTP5c {
  background-color: transparent;
  height: 183px;
  left: -1px;
  position: absolute;
  top: 503px;
  width: 72px;
}

.home-page-1 .heading-2JTP5c {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 396px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.home-page-1 .heading-9U3VDR {
  background-color: transparent;
  height: 72px;
  left: 417px;
  mix-blend-mode: normal;
  position: absolute;
  top: 885px;
  width: 340px;
}

.home-page-1 .heading-KWGoxk {
  background-color: transparent;
  height: 80px;
  left: 413px;
  mix-blend-mode: normal;
  position: absolute;
  top: 944px;
  width: 348px;
}

.home-page-1 .heading-1x76e3 {
  background-color: transparent;
  height: 80px;
  left: 413px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1006px;
  width: 348px;
}

.home-page-1 .decore-9U3VDR {
  background-color: transparent;
  height: 253px;
  left: 1110px;
  position: absolute;
  top: 235px;
  width: 97px;
}

.home-page-1 .destination-2JTP5c {
  background-color: transparent;
  cursor: pointer;
  display: block;
  height: 130px;
  left: 824px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 541px;
  transform: scale(1.1);
  transition: all 0.2s ease;
  width: 315px;
}

.home-page-1 .destination-2JTP5c.animate-enter {
  animation: animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: scale(1.1);
}

@keyframes animate-enter-frames {
  from{opacity: 0;
transform: scale(1.1);
}
to{opacity: 1;
transform: scale(1);
}
}

.home-page-1 .destination-2JTP5c:hover {
  transform: translate(0, -5px);
}

.home-page-1 .card-5-zYAxn7 {
  background-color: transparent;
  height: 130px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 317px;
}

.home-page-1 .rectangle-15-CtX03N {
  background-color: var(--white);
  border-radius: 0px 0px 24px 24px;
  height: 130px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 315px;
}

.home-page-1 .text_label-CtX03N {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 70px;
  letter-spacing: 0.00px;
  line-height: 49.8px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  width: 175px;
}

.home-page-1 .destination-9U3VDR {
  background-color: transparent;
  cursor: pointer;
  height: 130px;
  left: 46px;
  pointer-events: auto;
  position: absolute;
  top: 541px;
  transition: all 0.2s ease;
  width: 315px;
}

.home-page-1 .destination-9U3VDR:hover {
  transform: translate(0, -5px);
}

.home-page-1 .card-2-1KSGym {
  background-color: transparent;
  cursor: pointer;
  height: 130px;
  left: 0px;
  pointer-events: auto;
  position: relative;
  top: 0px;
  transition: all 0.2s ease;
  width: 315px;
}

.home-page-1 .card-2-1KSGym:hover {
  transform: scale(1.1);
}

.home-page-1 .rectangle-15-nb1tUL {
  background-color: var(--white);
  border-radius: 0px 0px 24px 24px;
  height: 130px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 315px;
}

.home-page-1 .destination-KWGoxk {
  background-color: transparent;
  height: 130px;
  left: 116px;
  position: absolute;
  top: 541px;
  width: 634px;
}

.home-page-1 .card-4-TxYxei {
  background-color: transparent;
  height: 130px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 638px;
}

.home-page-1 .rectangle-15-xlmyUA {
  background-color: var(--white);
  border-radius: 0px 0px 24px 24px;
  cursor: pointer;
  height: 130px;
  left: 319px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 315px;
}

.home-page-1 .rectangle-15-xlmyUA:hover {
  transform: translate(0, -5px);
}

.home-page-1 .text_label-xlmyUA {
  background-color: transparent;
  direction: rtl;
  display: block;
  filter: blur(10px);
  height: auto;
  left: 389px;
  letter-spacing: 0.00px;
  line-height: 49.8px;
  mix-blend-mode: normal;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 16px;
  width: 175px;
}

.home-page-1 .text_label-xlmyUA.animate-enter1 {
  animation: animate-enter1-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter1-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.home-page-1 .metaverse-xlmyUA {
  background-color: transparent;
  display: block;
  filter: blur(10px);
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 49.8px;
  mix-blend-mode: normal;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 38px;
  white-space: nowrap;
  width: 175px;
}

.home-page-1 .metaverse-xlmyUA.animate-enter2 {
  animation: animate-enter2-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  filter: blur(10px);
  opacity: 0;
}

@keyframes animate-enter2-frames {
  from{opacity: 0;
filter: blur(10px);
}
to{opacity: 1;
filter: none;
}
}

.home-page-1 .subheading-2JTP5c {
  background-color: transparent;
  color: var(--dolphin);
  direction: rtl;
  font-family: var(--font-family-abu_dhabi_pro_-regular);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 639px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.home-page-1 .group-591-HipzPb {
  background-color: transparent;
  height: 1103px;
  left: 12px;
  position: absolute;
  top: 58px;
  width: 1223px;
}

.home-page-1 .text_label-XxS2TM {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 865px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 172px;
}

.home-page-1 .text_label-wxFauK {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 1037px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 172px;
}

.home-page-1 .text_label-3a3hRF {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 693px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 172px;
}

.home-page-1 .text_label-7QXTLx {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 390px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 172px;
}

.home-page-1 .x2022-XxS2TM {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 703px;
  width: 172px;
}

.home-page-1 .metaverse-XxS2TM {
  background-color: transparent;
  height: auto;
  left: 207px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 172px;
}

.home-page-1 .text_label-18MbNi {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 562px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 131px;
}

.home-page-1 .group-592-XxS2TM {
  background-color: transparent;
  height: 93px;
  left: 444px;
  position: absolute;
  top: 544px;
  width: 530px;
}

.home-page-1 .text_label-TnxnjX {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 528px;
}

.home-page-1 .group-594-XxS2TM {
  background-color: transparent;
  height: 93px;
  left: 86px;
  position: absolute;
  top: 1010px;
  width: 530px;
}

.home-page-1 .text_label-FW9b82 {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 528px;
}

.home-page-1 .group-593-XxS2TM {
  background-color: transparent;
  height: 107px;
  left: 185px;
  position: absolute;
  top: 661px;
  width: 1021px;
}

.home-page-1 .x21-22-july-23-24-july-NDg5ig {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 602px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 413px;
}

.home-page-1 .text_label-NDg5ig {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 413px;
}

.home-page-1 .x7-11-NDg5ig {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 301px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 413px;
}

.home-page-1 .group-595-HipzPb {
  background-color: transparent;
  height: 107px;
  left: 292px;
  position: absolute;
  top: 1008px;
  width: 415px;
}

.home-page-1 .text_label-L4xEFt {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 413px;
}

.home-page-1 .group-597-HipzPb {
  background-color: transparent;
  height: 107px;
  left: 18px;
  position: absolute;
  top: 1689px;
  width: 182px;
}

.home-page-1 .text_label-cKeT27 {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 180px;
}

.home-page-1 .group-598-HipzPb {
  background-color: transparent;
  height: 107px;
  left: 1248px;
  position: absolute;
  top: 874px;
  transform: rotate(-180deg);
  width: 182px;
}

.home-page-1 .text_label-wHbULy {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: -180px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: -107px;
  width: 180px;
}

.home-page-1 .group-596-HipzPb {
  background-color: transparent;
  height: 560px;
  left: 108px;
  position: absolute;
  top: 1083px;
  width: 483px;
}

.home-page-1 .x-fPx9gL {
  background-color: transparent;
  color: var(--eerie-black);
  direction: rtl;
  font-family: var(--font-family-abu_dhabi_pro_-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 0px;
  width: 481px;
}

.home-page-1 .asset-13x-1-HipzPb {
  background-color: transparent;
  height: 70px;
  left: 1253px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 49px;
  width: 127px;
}

.home-page-1 .asset-13x-1-1-HipzPb {
  background-color: transparent;
  height: 278px;
  left: 370px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 232px;
  width: 700px;
}

.home-page-1 .asset-23x-1-HipzPb {
  background-color: transparent;
  height: 70px;
  left: 81px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 49px;
  width: 116px;
}

.home-page-1 .c8-pgwg-3-1-HipzPb {
  background-color: transparent;
  height: 62px;
  left: 236px;
  mix-blend-mode: normal;
  position: absolute;
  top: 51px;
  width: 21px;
}

.home-page-1 .c8-pgwg-3-4-HipzPb {
  background-color: transparent;
  height: 92px;
  left: 331px;
  mix-blend-mode: normal;
  position: absolute;
  top: 325px;
  width: 33px;
}

.home-page-1 .c8-pgwg-3-2-HipzPb {
  background-color: transparent;
  height: 62px;
  left: 353px;
  mix-blend-mode: normal;
  position: absolute;
  top: 53px;
  width: 21px;
}

.home-page-1 .c8-pgwg-3-3-HipzPb {
  background-color: transparent;
  height: 80px;
  left: 58px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 747px;
  width: 80px;
}

.home-page-1 .snow-6-1-HipzPb {
  background-color: transparent;
  height: 896px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.home-page-1 .c8-pgwg-2-1-HipzPb {
  background-color: transparent;
  height: 174px;
  left: 128px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1974px;
  width: 121px;
}

.home-page-1 .ellipse-84-HipzPb {
  background-color: #d5e5ef8a;
  border-radius: 162.69px/150px;
  filter: blur(500px);;
  height: 300px;
  left: calc(50.00% - 163px);
  mix-blend-mode: normal;
  position: absolute;
  top: 254px;
  width: 325px;
}

.home-page-1 .dark-purple-and-whit-HipzPb {
  background-color: transparent;
  height: 564px;
  left: 247px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 3602px;
  width: 970px;
}

.home-page-1 .time-slider-HipzPb {
  background-color: transparent;
  height: 119px;
  left: 832px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2990px;
  width: 120px;
}

.home-page-1 .sigma-HipzPb {
  background-color: transparent;
  height: 121px;
  left: 1158px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3001px;
  width: 117px;
}

.home-page-1 .x20-HipzPb {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 378px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 3990px;
  width: 410px;
}

.home-page-1 .x-HipzPb {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 86px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3246px;
  width: 261px;
}

.home-page-1 .x-mo61Jy {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 423px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3246px;
  width: 261px;
}

.home-page-1 .x-yxJ3Ix {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 754px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3246px;
  width: 261px;
}

.home-page-1 .x-RGcTN0 {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 1085px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 3246px;
  width: 261px;
}

.home-page-1 .text_label-HipzPb {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 807px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 4213px;
  width: 410px;
}

.home-page-1 .text_label-mo61Jy {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 531px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 4212px;
  width: 410px;
}

.home-page-1 .x-W5cVGc {
  background-color: transparent;
  cursor: pointer;
  direction: rtl;
  height: auto;
  left: 539px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  text-align: center;
  top: 4337px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: 380px;
}

.home-page-1 .x-W5cVGc:hover {
  transform: scale(1.1);
}

.home-page-1 .text_label-yxJ3Ix {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 247px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 4212px;
  width: 410px;
}

.home-page-1 .c8-pgwg-3-5-HipzPb {
  background-color: transparent;
  height: 278px;
  left: 792px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3684px;
  width: 474px;
}

.home-page-1 .group-600-HipzPb {
  background-color: transparent;
  height: 126px;
  left: 1097px;
  position: absolute;
  top: 3549px;
  width: 343px;
}

.home-page-1 .x2b1825_b9221cd745014-YsDDq5 {
  background-color: transparent;
  height: 126px;
  left: 172px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 171px;
}

.home-page-1 .x2b1825_b9221cd745014-grM0xg {
  background-color: transparent;
  height: 126px;
  left: 172px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 171px;
}

.home-page-1 .x2b1825_b9221cd745014-9Jjvgm {
  background-color: transparent;
  height: 126px;
  left: 85px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 171px;
}

.home-page-1 .x2b1825_b9221cd745014-hhj3HM {
  background-color: transparent;
  height: 126px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 171px;
}

.home-page-1 .group-601-HipzPb {
  background-color: transparent;
  height: 126px;
  left: 0px;
  position: absolute;
  top: 4310px;
  width: 343px;
}

.home-page-1 .x2b1825_b9221cd745014-6JfG6V {
  background-color: transparent;
  height: 126px;
  left: 172px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 171px;
}

.home-page-1 .x2b1825_b9221cd745014-1E4lGU {
  background-color: transparent;
  height: 126px;
  left: 172px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 171px;
}

.home-page-1 .x2b1825_b9221cd745014-jQdvJN {
  background-color: transparent;
  height: 126px;
  left: 85px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 171px;
}

.home-page-1 .x2b1825_b9221cd745014-eoAaKf {
  background-color: transparent;
  height: 126px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 171px;
}

.home-page-1 .group-602-HipzPb {
  background-color: transparent;
  height: 40px;
  left: 151px;
  position: absolute;
  top: 3418px;
  width: 138px;
}

.home-page-1 .rectangle-174-YO5t8O {
  background-color: var(--candlelight);
  border-radius: 50px;
  height: 40px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 136px;
}

.home-page-1 .text_label-YO5t8O {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: auto;
}

.home-page-1 .group-603-HipzPb {
  background-color: transparent;
  height: 40px;
  left: 486px;
  position: absolute;
  top: 3418px;
  width: 138px;
}

.home-page-1 .rectangle-174-rDjDCG {
  background-color: var(--turquoise-blue);
  border-radius: 50px;
  height: 40px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 136px;
}

.home-page-1 .text_label-rDjDCG {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 34px;
  letter-spacing: 0.00px;
  line-height: 26px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: auto;
}

.home-page-1 .faithful-great-apisd-HipzPb {
  background-color: transparent;
  height: 297px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 5912px;
  width: 1440px;
}

.home-page-1 .asset-8-1-HipzPb {
  background-color: transparent;
  height: 237px;
  left: 657px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5401px;
  width: 154px;
}

.home-page-1 .metaverse-HipzPb {
  background-color: transparent;
  height: auto;
  left: 190px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5364px;
  width: 1059px;
}

.home-page-1 .x-6p08lx {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 190px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5661px;
  width: 1059px;
}

.home-page-1 .x25th-of-july-2022-26-1443-5-7-HipzPb {
  background-color: transparent;
  height: auto;
  left: 222px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 5783px;
  width: 997px;
}

.home-page-1 .asset-8-3-HipzPb {
  background-color: transparent;
  height: 237px;
  left: 791px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5401px;
  width: 139px;
}

.home-page-1 .c8-pgwg-3-6-HipzPb {
  background-color: transparent;
  height: 88px;
  left: 308px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5410px;
  width: 76px;
}
