/* screen - ipad-pro-11-1 */

.ipad-pro-11-1 {
  background-color: var(--blue-charcoal);
  height: 100vh;
  margin: 0px;
  min-height: 2058px;
  min-width: 1194px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.ipad-pro-11-1 .navbar-I79TRs {
  background-color: transparent;
  height: 70px;
  left: 25px;
  position: absolute;
  top: 63px;
  width: 1144px;
}

.ipad-pro-11-1 .text_label-K5KmMi {
  background-color: transparent;
  cursor: pointer;
  direction: rtl;
  height: 74.29%;
  left: 61.27%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12.86%;
  width: 13.24%;
}

.ipad-pro-11-1 .text_label-7ymqrn {
  background-color: transparent;
  cursor: pointer;
  direction: rtl;
  height: 74.29%;
  left: 74.51%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12.86%;
  width: 13.24%;
}

.ipad-pro-11-1 .text_label-9i5Nub {
  background-color: transparent;
  cursor: pointer;
  direction: rtl;
  height: 74.29%;
  left: 48.03%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12.86%;
  width: 13.24%;
}

.ipad-pro-11-1 .text_label-UvxuPY {
  background-color: transparent;
  direction: rtl;
  height: 74.29%;
  left: 24.71%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12.86%;
  width: 13.24%;
}

.ipad-pro-11-1 .text_label-x9brIs {
  background-color: transparent;
  cursor: pointer;
  direction: rtl;
  height: 74.29%;
  left: 37.95%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12.86%;
  width: 10.08%;
}

.ipad-pro-11-1 .asset-13x-1-K5KmMi {
  background-color: transparent;
  cursor: pointer;
  height: 70px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 35px);
  width: 127px;
}

.ipad-pro-11-1 .asset-23x-1-K5KmMi {
  background-color: transparent;
  height: 70px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 35px);
  width: 116px;
}

.ipad-pro-11-1 .group-606-K5KmMi {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 122px;
  position: absolute;
  top: 2px;
  width: 151px;
}

.ipad-pro-11-1 .group-623-5eMvU1 {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 101.32%;
}

.ipad-pro-11-1 .metaverse-MpqaMx {
  background-color: transparent;
  height: 81.25%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10.94%;
  width: 98.70%;
}

.ipad-pro-11-1 .c8-pgwg-3-1-MpqaMx {
  background-color: transparent;
  height: 96.88%;
  left: 9.75%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 12.05%;
}

.ipad-pro-11-1 .c8-pgwg-3-2-MpqaMx {
  background-color: transparent;
  height: 96.88%;
  left: 76.89%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.12%;
  width: 12.05%;
}

.ipad-pro-11-1 .footer-I79TRs {
  background-color: transparent;
  bottom: 0px;
  height: 600px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  width: 1194px;
}

.ipad-pro-11-1 .rectangle-188-Ht8SzY {
  background-color: var(--blue-charcoal);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ipad-pro-11-1 .group-608-Ht8SzY {
  background-color: transparent;
  height: 80.15%;
  left: 3.95%;
  position: absolute;
  top: 15.04%;
  width: 88.00%;
}

.ipad-pro-11-1 .rectangle-187-3GxBxw {
  background-color: var(--turquoise-blue);
  border-radius: 15px;
  height: 12.37%;
  left: 5.62%;
  mix-blend-mode: normal;
  position: absolute;
  top: 63.11%;
  width: 17.20%;
}

.ipad-pro-11-1 .asset-13x-1-1-3GxBxw {
  background-color: transparent;
  height: 24.54%;
  left: 75.37%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 23.67%;
}

.ipad-pro-11-1 .heading-3GxBxw {
  background-color: transparent;
  direction: rtl;
  height: 47.00%;
  left: 91.64%;
  letter-spacing: 0.00px;
  line-height: 36px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 53.00%;
  width: 7.33%;
}

.ipad-pro-11-1 .span0-CSuyvo {
}

.ipad-pro-11-1 .span1-CSuyvo {
  line-height: 50px;
}

.ipad-pro-11-1 .heading-3Rfft1 {
  background-color: transparent;
  height: 33.48%;
  left: 81.64%;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 54.03%;
  width: 17.32%;
}

.ipad-pro-11-1 .span0-WQv9ym {
}

.ipad-pro-11-1 .span1-WQv9ym {
  line-height: 50px;
}

.ipad-pro-11-1 .heading-r7TxzM {
  background-color: transparent;
  direction: rtl;
  height: 18.30%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 0px;
  width: 32.45%;
}

.ipad-pro-11-1 .heading-8KzMjy {
  background-color: transparent;
  border: 0;
  direction: rtl;
  height: 9.77%;
  left: 10.08%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: right;
  top: 20.21%;
  width: 22.37%;
}

.ipad-pro-11-1 .heading-8KzMjy::placeholder {
  color: #ffffff99;
}

.ipad-pro-11-1 .heading-xxKSSO {
  background-color: transparent;
  border: 0;
  direction: rtl;
  height: 10.61%;
  left: 10.24%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: center;
  top: 63.93%;
  width: 7.90%;
}

.ipad-pro-11-1 .heading-xxKSSO::placeholder {
  color: #000a2099;
}

.ipad-pro-11-1 .you-tube-3GxBxw {
  background-color: transparent;
  height: 11.55%;
  left: 94.39%;
  mix-blend-mode: normal;
  position: absolute;
  top: 28.87%;
  width: 4.66%;
}

.ipad-pro-11-1 .linked-in-3GxBxw {
  background-color: transparent;
  height: 9.90%;
  left: 88.24%;
  mix-blend-mode: normal;
  position: absolute;
  top: 29.70%;
  width: 4.66%;
}

.ipad-pro-11-1 .instagram-3GxBxw {
  background-color: transparent;
  height: 10.31%;
  left: 81.37%;
  mix-blend-mode: normal;
  position: absolute;
  top: 29.70%;
  width: 5.37%;
}

.ipad-pro-11-1 .twitter-3GxBxw {
  background-color: transparent;
  height: 9.69%;
  left: 75.30%;
  mix-blend-mode: normal;
  position: absolute;
  top: 29.90%;
  width: 4.58%;
}

.ipad-pro-11-1 .line-4-3GxBxw {
  background-color: transparent;
  height: 0.40%;
  left: 5.62%;
  position: absolute;
  top: 29.59%;
  width: 26.91%;
}

.ipad-pro-11-1 .group-620-I79TRs {
  background-color: transparent;
  height: 236px;
  left: 0px;
  position: absolute;
  top: 200px;
  width: 1196px;
}

.ipad-pro-11-1 .rectangle-189-Ez8Yik {
  background-color: var(--candlelight);
  height: 236px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1194px;
}

.ipad-pro-11-1 .component-1-Ez8Yik {
  background-color: transparent;
  height: 118px;
  left: 1012px;
  mix-blend-mode: normal;
  position: absolute;
  top: 61px;
  width: 22px;
}

.ipad-pro-11-1 .ellipse-86-uEiCII {
  background-color: var(--white);
  border-radius: 10.78px/10.15px;
  height: 17.24%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ipad-pro-11-1 .ellipse-87-uEiCII {
  background-color: transparent;
  border-radius: 10.78px/10.15px;
  height: 17.24%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 20.69%;
  width: 100%;
}

.ipad-pro-11-1 .ellipse-88-uEiCII {
  background-color: transparent;
  border-radius: 10.78px/10.15px;
  height: 17.24%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 41.38%;
  width: 100%;
}

.ipad-pro-11-1 .ellipse-89-uEiCII {
  background-color: transparent;
  border-radius: 10.78px/10.15px;
  height: 17.24%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 62.07%;
  width: 100%;
}

.ipad-pro-11-1 .ellipse-90-uEiCII {
  background-color: transparent;
  border-radius: 10.78px/10.15px;
  height: 17.24%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 82.76%;
  width: 100%;
}

.ipad-pro-11-1 .text_label-Ez8Yik {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 629px;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 61px;
  width: 348px;
}
