/* screen - ipad-pro-11-2 */

.ipad-pro-11-2 {
  background-color: var(--blue-charcoal);
  height: 100vh;
  margin: 0px;
  min-height: 3348px;
  min-width: 1194px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.ipad-pro-11-2 .navbar-jxVE5C {
  background-color: transparent;
  height: 70px;
  left: 25px;
  position: absolute;
  top: 80px;
  width: 1144px;
}

.ipad-pro-11-2 .text_label-PYrxMW {
  background-color: transparent;
  cursor: pointer;
  direction: rtl;
  height: 74.29%;
  left: 61.27%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12.86%;
  width: 13.24%;
}

.ipad-pro-11-2 .text_label-Pvxuwr {
  background-color: transparent;
  cursor: pointer;
  direction: rtl;
  height: 74.29%;
  left: 74.51%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12.86%;
  width: 13.24%;
}

.ipad-pro-11-2 .text_label-NUTMPG {
  background-color: transparent;
  cursor: pointer;
  direction: rtl;
  height: 74.29%;
  left: 48.03%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12.86%;
  width: 13.24%;
}

.ipad-pro-11-2 .text_label-NTmZiA {
  background-color: transparent;
  direction: rtl;
  height: 74.29%;
  left: 24.71%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12.86%;
  width: 13.24%;
}

.ipad-pro-11-2 .text_label-AdKkNS {
  background-color: transparent;
  cursor: pointer;
  direction: rtl;
  height: 74.29%;
  left: 37.95%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 12.86%;
  width: 10.08%;
}

.ipad-pro-11-2 .asset-13x-1-PYrxMW {
  background-color: transparent;
  cursor: pointer;
  height: 70px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 35px);
  width: 127px;
}

.ipad-pro-11-2 .asset-23x-1-PYrxMW {
  background-color: transparent;
  height: 70px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(50.00% - 35px);
  width: 116px;
}

.ipad-pro-11-2 .group-606-PYrxMW {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  left: 122px;
  position: absolute;
  top: 2px;
  width: 151px;
}

.ipad-pro-11-2 .group-623-oNI32m {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 101.32%;
}

.ipad-pro-11-2 .metaverse-2VC0iF {
  background-color: transparent;
  height: 81.25%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 10.94%;
  width: 98.70%;
}

.ipad-pro-11-2 .c8-pgwg-3-1-2VC0iF {
  background-color: transparent;
  height: 96.88%;
  left: 9.75%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 12.05%;
}

.ipad-pro-11-2 .c8-pgwg-3-2-2VC0iF {
  background-color: transparent;
  height: 96.88%;
  left: 76.89%;
  mix-blend-mode: normal;
  position: absolute;
  top: 3.12%;
  width: 12.05%;
}

.ipad-pro-11-2 .group-622-jxVE5C {
  background-color: transparent;
  height: 236px;
  left: 0px;
  position: absolute;
  top: 186px;
  width: 1196px;
}

.ipad-pro-11-2 .rectangle-189-K1zuJC {
  background-color: var(--white);
  height: 236px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1194px;
}

.ipad-pro-11-2 .component-1-K1zuJC {
  background-color: transparent;
  height: 118px;
  left: 1012px;
  mix-blend-mode: normal;
  position: absolute;
  top: 61px;
  width: 22px;
}

.ipad-pro-11-2 .ellipse-86-Syqv3U {
  background-color: var(--black-rock);
  border-radius: 10.78px/10.15px;
  height: 17.24%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ipad-pro-11-2 .ellipse-87-Syqv3U {
  background-color: transparent;
  border-radius: 10.78px/10.15px;
  height: 17.24%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 20.69%;
  width: 100%;
}

.ipad-pro-11-2 .ellipse-88-Syqv3U {
  background-color: transparent;
  border-radius: 10.78px/10.15px;
  height: 17.24%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 41.38%;
  width: 100%;
}

.ipad-pro-11-2 .ellipse-89-Syqv3U {
  background-color: transparent;
  border-radius: 10.78px/10.15px;
  height: 17.24%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 62.07%;
  width: 100%;
}

.ipad-pro-11-2 .ellipse-90-Syqv3U {
  background-color: transparent;
  border-radius: 10.78px/10.15px;
  height: 17.24%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 82.76%;
  width: 100%;
}

.ipad-pro-11-2 .text_label-K1zuJC {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 629px;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 61px;
  width: 348px;
}

.ipad-pro-11-2 .footer-jxVE5C {
  background-color: transparent;
  bottom: 0px;
  height: 600px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  width: 1194px;
}

.ipad-pro-11-2 .rectangle-188-AdRnUj {
  background-color: var(--blue-charcoal);
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.ipad-pro-11-2 .group-608-AdRnUj {
  background-color: transparent;
  height: 80.15%;
  left: 3.95%;
  position: absolute;
  top: 15.04%;
  width: 88.00%;
}

.ipad-pro-11-2 .rectangle-187-9yqPtA {
  background-color: var(--turquoise-blue);
  border-radius: 15px;
  height: 12.37%;
  left: 5.62%;
  mix-blend-mode: normal;
  position: absolute;
  top: 63.11%;
  width: 17.20%;
}

.ipad-pro-11-2 .asset-13x-1-1-9yqPtA {
  background-color: transparent;
  height: 24.54%;
  left: 75.37%;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 23.67%;
}

.ipad-pro-11-2 .heading-9yqPtA {
  background-color: transparent;
  direction: rtl;
  height: 47.00%;
  left: 91.64%;
  letter-spacing: 0.00px;
  line-height: 36px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 53.00%;
  width: 7.33%;
}

.ipad-pro-11-2 .span0-kF3Z0X {
}

.ipad-pro-11-2 .span1-kF3Z0X {
  line-height: 50px;
}

.ipad-pro-11-2 .heading-z8u2X6 {
  background-color: transparent;
  height: 33.48%;
  left: 81.64%;
  letter-spacing: 0.00px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 54.03%;
  width: 17.32%;
}

.ipad-pro-11-2 .span0-bVTBMt {
}

.ipad-pro-11-2 .span1-bVTBMt {
  line-height: 50px;
}

.ipad-pro-11-2 .heading-vt7nQI {
  background-color: transparent;
  direction: rtl;
  height: 18.30%;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 0px;
  width: 32.45%;
}

.ipad-pro-11-2 .heading-LmdI3x {
  background-color: transparent;
  border: 0;
  direction: rtl;
  height: 9.77%;
  left: 10.08%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: right;
  top: 20.21%;
  width: 22.37%;
}

.ipad-pro-11-2 .heading-LmdI3x::placeholder {
  color: #ffffff99;
}

.ipad-pro-11-2 .heading-pk5Pgb {
  background-color: transparent;
  border: 0;
  direction: rtl;
  height: 10.61%;
  left: 10.24%;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: center;
  top: 63.93%;
  width: 7.90%;
}

.ipad-pro-11-2 .heading-pk5Pgb::placeholder {
  color: #000a2099;
}

.ipad-pro-11-2 .you-tube-9yqPtA {
  background-color: transparent;
  height: 11.55%;
  left: 94.39%;
  mix-blend-mode: normal;
  position: absolute;
  top: 28.87%;
  width: 4.66%;
}

.ipad-pro-11-2 .linked-in-9yqPtA {
  background-color: transparent;
  height: 9.90%;
  left: 88.24%;
  mix-blend-mode: normal;
  position: absolute;
  top: 29.70%;
  width: 4.66%;
}

.ipad-pro-11-2 .instagram-9yqPtA {
  background-color: transparent;
  height: 10.31%;
  left: 81.37%;
  mix-blend-mode: normal;
  position: absolute;
  top: 29.70%;
  width: 5.37%;
}

.ipad-pro-11-2 .twitter-9yqPtA {
  background-color: transparent;
  height: 9.69%;
  left: 75.30%;
  mix-blend-mode: normal;
  position: absolute;
  top: 29.90%;
  width: 4.58%;
}

.ipad-pro-11-2 .line-4-9yqPtA {
  background-color: transparent;
  height: 0.40%;
  left: 5.62%;
  position: absolute;
  top: 29.59%;
  width: 26.91%;
}

.ipad-pro-11-2 .rectangle-231-jxVE5C {
  background-color: transparent;
  height: 368px;
  left: 265px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 575px;
  width: 677px;
}

.ipad-pro-11-2 .text_label-jxVE5C {
  background-color: transparent;
  direction: rtl;
  height: 5.38%;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  right: -309px;
  text-align: center;
  top: 14.73%;
  transform: rotate(-90deg);
  width: 604px;
}

.ipad-pro-11-2 .text_label-DBOlbD {
  background-color: transparent;
  direction: rtl;
  height: 5.38%;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  right: -126px;
  text-align: center;
  top: 75.57%;
  width: 604px;
}

.ipad-pro-11-2 .text_label-6b08Ui {
  background-color: transparent;
  direction: rtl;
  height: 5.38%;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  right: -309px;
  text-align: center;
  top: 23.75%;
  transform: rotate(-90deg);
  width: 604px;
}

.ipad-pro-11-2 .text_label-heyGDy {
  background-color: transparent;
  direction: rtl;
  height: 5.38%;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  right: 176px;
  text-align: center;
  top: 75.57%;
  width: 604px;
}

.ipad-pro-11-2 .text_label-q1tF7S {
  background-color: transparent;
  direction: rtl;
  height: 5.38%;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  right: -309px;
  text-align: center;
  top: 32.77%;
  transform: rotate(-90deg);
  width: 604px;
}

.ipad-pro-11-2 .text_label-osBaN6 {
  background-color: transparent;
  direction: rtl;
  height: 5.38%;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  right: 478px;
  text-align: center;
  top: 75.57%;
  width: 604px;
}

.ipad-pro-11-2 .text_label-d7Fyjx {
  background-color: transparent;
  direction: rtl;
  height: 5.38%;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  right: -309px;
  text-align: center;
  top: 41.79%;
  transform: rotate(-90deg);
  width: 604px;
}

.ipad-pro-11-2 .text_label-asQ2Z4 {
  background-color: transparent;
  direction: rtl;
  height: 5.38%;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  right: 780px;
  text-align: center;
  top: 75.57%;
  width: 604px;
}

.ipad-pro-11-2 .text_label-qz5e55 {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: -492px;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 2530px;
  width: 604px;
}

.ipad-pro-11-2 .text_label-o7Vmlx {
  background-color: transparent;
  direction: rtl;
  height: 5.38%;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  right: -309px;
  text-align: center;
  top: 50.81%;
  transform: rotate(-90deg);
  width: 604px;
}

.ipad-pro-11-2 .text_label-Lb5FlR {
  background-color: transparent;
  direction: rtl;
  height: 5.38%;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  right: -309px;
  text-align: center;
  top: 59.83%;
  transform: rotate(-90deg);
  width: 604px;
}

.ipad-pro-11-2 .text_label-fARTBk {
  background-color: transparent;
  direction: rtl;
  height: 5.38%;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  right: -309px;
  text-align: center;
  top: 68.91%;
  transform: rotate(-90deg);
  width: 604px;
}

.ipad-pro-11-2 .x-jxVE5C {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 78px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 1181px;
  width: 1007px;
}

.ipad-pro-11-2 .x-DBOlbD {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 486px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 1439px;
  width: 608px;
}

.ipad-pro-11-2 .x-6b08Ui {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 36px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 1439px;
  width: 370px;
}

.ipad-pro-11-2 .x-heyGDy {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 35px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 1846px;
  width: 369px;
}

.ipad-pro-11-2 .x-q1tF7S {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 485px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 1838px;
  width: 608px;
}

.ipad-pro-11-2 .x-osBaN6 {
  -webkit-text-stroke: 1px var(--black);
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 477px;
  letter-spacing: 0.00px;
  line-height: 40px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 2191px;
  width: 608px;
}

.ipad-pro-11-2 .x-d7Fyjx {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 671px;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1111px;
  white-space: nowrap;
  width: 502px;
}

.ipad-pro-11-2 .x-asQ2Z4 {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 594px;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 1372px;
  white-space: nowrap;
  width: 501px;
}

.ipad-pro-11-2 .x-qz5e55 {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 820px;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 1772px;
  white-space: nowrap;
  width: 274px;
}

.ipad-pro-11-2 .x-o7Vmlx {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 157px;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 1367px;
  white-space: nowrap;
  width: 273px;
}

.ipad-pro-11-2 .x-Lb5FlR {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 26px;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 1778px;
  white-space: nowrap;
  width: 379px;
}

.ipad-pro-11-2 .x-fARTBk {
  background-color: transparent;
  direction: rtl;
  height: auto;
  left: 812px;
  letter-spacing: 0.00px;
  line-height: 80px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 2125px;
  white-space: nowrap;
  width: 274px;
}

.ipad-pro-11-2 .line-20-jxVE5C {
  background-color: transparent;
  height: 3px;
  left: 25px;
  position: absolute;
  top: 1728px;
  width: 1069px;
}

.ipad-pro-11-2 .line-21-jxVE5C {
  background-color: transparent;
  height: 3px;
  left: 26px;
  position: absolute;
  top: 2094px;
  width: 1069px;
}

.ipad-pro-11-2 .line-22-jxVE5C {
  background-color: transparent;
  height: 3px;
  left: 26px;
  position: absolute;
  top: 2394px;
  width: 1069px;
}

.ipad-pro-11-2 .line-23-jxVE5C {
  background-color: transparent;
  height: 3px;
  left: 25px;
  position: absolute;
  top: 1324px;
  width: 1069px;
}
