/* screen - iphone-13-13-pro-1 */

.iphone-13-13-pro-1 {
  background-color: var(--white);
  height: 7346px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}
